#tih-container {
    max-width: 70em;
}
.tab-item {
    display: inline-block;
    padding: 1em 2em;
    margin: 1em;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 13px;
    border-radius: 0.25em;
    cursor: pointer;
}
.tab-item.active {
    background-color: var(--main-color);
}
.result-row {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid var(--main-color);
    background-color: #fff;
    /* //border-bottom: 2px solid #8bc7d4; */
    box-shadow: 1px 0px 9px 1px #7dd3e678;
    /* width: 40em; */
    display: flex
}
.year-tag {
    font-size: 21px;
    font-weight: bold;
    margin-right: 1em;
    text-align: center;
    min-width: 55px;
}
#tih-section-container section.hidden {
    /* display: none; */
    transform: translateX(120%);
}
#tih-tab-container {
    text-align: center;
}
#tih-tab-container.not-loaded .tab-item.active {
    background-color: rgba(0, 0, 0, 0);
}
#tih-tab-container.not-loaded {
    opacity: 0.2;
}
.tag {
    margin-right: 1em;
}
.tag-container {
    color: #888;
    font-size: 12px;
    margin-top: 0.5em;
}
#tih-birth,
#tih-death,
#tih-event,
#tih-all {
    position: absolute;
    transition: 1s;
    /* width: 60em; */
    top: 0;
    left: 0;
    max-height: 80vh;
    overflow: auto;
}

#tih-section-container {
    position: relative;
    height: 80vh;
    overflow: hidden;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    width: 45em;
    margin: 0 auto;
}
#tih-section-container:nth-child(1) {
    transition-delay: 0.5s;
}
